.header {
  display: flex;

  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;

  position: relative;
}
.header__image {
  position: absolute;
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
}

.header__title {
  margin-top: 183px;
  max-width: 709px;
  margin-left: 80px;
  font-family: "Inter";

  font-style: normal;

  font-weight: 500;

  font-size: 58px;

  line-height: 72px;

  letter-spacing: 1px;
}
.span-accent {
  display: block;
  font-family: "Noto Serif";

  font-style: italic;

  font-weight: normal;

  font-size: 58px;

  line-height: 72px;

  color: #2f80ed;
}
.header__description {
  margin-top: 20px;
  max-width: 683px;
  margin-left: 80px;

  font-family: "Noto Serif";

  font-style: normal;

  font-weight: normal;

  font-size: 20px;

  line-height: 30px;
}
.header__footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 40px;
  font-family: "Inter";

  font-style: normal;

  font-weight: 500;

  font-size: 16px;

  line-height: 20px;

  color: #838383;
}
.header__paragraph {
  margin: 0;
}
